# Логи
*.log

# Зависимости
node_modules/
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.temp

# Лишние файлы
composer
composer.bat
composer.phar
phpcbf.phar
phpcs.phar
video.cast
index.html
